/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
    max-width 200px!important

.custom-block.tip
    border-color $accentColor

blockquote
    color inherit

.theme-default-content code
    color: $accentColor