h1 + p.text {
    line-height: 1.3 !important;
}

@media (min-width: 640px) {
    h1 + p.text {
        font-size: 2.5rem !important;
        margin-top: 1rem !important;
    }
}

@media (min-width: 960px) {
    h1 + p.text {
        font-size: 2.8rem !important;
    }
}

/* Underline links for accessibility and quality reasons */
p > a {
    text-decoration: underline;
    text-decoration-style: solid !important;
}
