h1 + p.text {
    line-height: 1.3 !important;
}

@media (min-width: 640px) {
    h1 + p.text {
        font-size: 2.5rem !important;
        margin-top: 1rem !important;
    }
}

@media (min-width: 960px) {
    h1 + p.text {
        font-size: 2.8rem !important;
    }
}

/* Underline links for accessibility and quality reasons */
p > a, li > a {
    text-decoration: underline;
    text-decoration-style: solid !important;
}

.outline-link, footer a {
    text-decoration: none;
}

.dark .VPSkipLink[data-v-471574a7] {
    color: var(--vp-c-brand);
}

.VPHomeHero {
    text-align: center;
}

.name, .text, .tagline, .actions {
    max-width: 920px !important;
    width: 100%;
    margin: auto !important;
}

.actions {
    justify-content: center;
}